@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wapper {
    background: linear-gradient(180deg,rgba(7, 7, 7, 1) 51%, rgba(144, 26, 199, 1) 100%);
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .Logo,
footer .block .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 500px;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav Li a {
    color: #fff;
}

header nav ul Li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #901AC7;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

header nav Li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #901AC7;
}

header nav ul Li.btn a, .email .block button {
    background: #901AC7;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
    color: #fff;
}

header nav ul Li.btn a:hover, .email .block button:hover {
    background: #5A0E7D;
}

.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 464.4px;
    padding-top: 100px;
}

.hero--info h2 {
    color: #901AC7;
    font-size: 20px;
    font-weight: 600;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero-about .info .btn {
    background: linear-gradient(90deg,rgba(250, 131, 5, 1) 0%, rgba(251, 158, 60, 1) 100%);
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
}

.hero-about .info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: 50px;
    right: -15px;
}

.trending {
    padding-top: 50px;
}

.trending h3 {
    font-weight: 600;
    font-size: 31px;
}

.trending .see-all:hover, .projects .see-all:hover {
    transform: scale(1.1)
}

.trending .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.trending .games span {
    display: block;
    text-align:center;
    margin-top: 20px;
}

.trending .games span img {
    position: relative;
    top: 5px;
    margin-right: 7px;
}

.big-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}

.banner {
    padding: 80px 0;
}

.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner p {
    line-height: 170%;
    margin-bottom: 30px;
    width: 550px;
}

.banner img {
    width: 100%;
    margin-bottom: 30px;
}

/* секция с изображением */

.features {
    background: url('/img/Group 1321.png') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}

.features h3 {
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.features p {
    margin-bottom: 25px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features h3 {
    font-size: 30px;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 17%;
    margin: 30px 2%;
}

.features .info .block img {
    margin-bottom: 25px;
}

.projects {
    padding: 100px 0;
}

.projects h3 {
    font-size: 30px;
    text-align: center;
}

.projects p {
    margin: 20px 0;
    text-align: center;
}

.projects image {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;

}

.email {
    padding-bottom: 120px;
}
.email h3 {
    margin-top: 60px;
    font-size: 30px;
}

.email .block {
    background: #1C140F;
    margin-top: 30px;
    border-radius: 15px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.email .block h4 {
    font-size: 30px;
    flex-wrap: 500;
}

.email .block p {
    width: 500;
}

.email .block input {
    background: #fff;
    outline: none;
    border: 0;
    border-radius: 10px;
    width: 380px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 20px 30px;
    position: relative;
    right: -95px;
    z-index: 1;
    padding-right: 120px;
}

.email .block input::placeholder {
    color: #898989;
}

.email .block button {
    cursor: pointer;
    border: 0;
    padding: 20px 47px;
    position: relative;
    z-index: 2;
    border-radius: 10px;
    color: #fff;
}

/*about.html*/

.hero-about .info {
    position: relative;
}

.hero-about .info {
    width: 500px;
    padding: 250px 0;
    padding-left: 250px;
}

.hero-about .info h1 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #901AC7;
}

.hero-about .info p {
    font-size: 50px;
    font-weight: 600;
    padding: 23px 15px;
}

.hero-about .info .btn {
    margin-top: 30px;
}

.hero-about img {
    position: absolute;
    right: -0px;
    top: 150px;
}

.work {
    padding: 80px 0;
}

.work h2 {
    font-size: 25px;
    margin-bottom: 40px;
}

.work  .blocks {
    display: flex;
    justify-content: space-between;
}

.work .blocks .block {
    width: 25%;
    border-radius: 25px;
    padding: 50px 35px;
    background: #1C140F;
}

.work .blocks .block p {
    font-size: 20px;
    margin: 20px 0;
}

.work .blocks .block .badge {
    border-radius: 7px;
    padding: 10px 20px;
    
}

.work .blocks .block .badge.purple {
    background: #B000DC;
}

.work .blocks .block .badge.brown {
    background: #DC4200;
}

.work .blocks .block .badge.green {
    background: #00DC8D;
}

/*Portfolio.html*/


.hero-portfolio h1 {
    font-size: 33px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
}

.hero-portfolio p {
    text-align: center;
}

.hero-portfolio img {
    margin: 80px 20%;
}

.void .blocks {
    display: flex;
    justify-content: space-between;
}


.void .blocks .block{
    width: 30%;
    border-radius: 25px;
    padding: 20px 30px;
    background: #33033f;
}

.void .blocks .block h1 {
    font-size: 30px;
    width: 500;
    text-align: center;
}
.void .blocks .block p {
    font-size: 20px;
    margin: 20px 0;
}

.void img {
    right: -0px;
    top: 150px;
    border-radius: 25px;
}

/*blockse*/

.void .blockse {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}


.void .blockse .block{
    width: 30%;
    border-radius: 25px;
    padding: 17px 33px;
    background: #5a0e6d;
    right: -0px;
}

.void .blockse .block h1 {
    font-size: 30px;
    width: 500;
    text-align: center;
}

.void .blockse .block p {
    font-size: 20px;
    margin: 20px 0;
}

/*blocksa*/

.void .blocksa {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}


.void .blocksa .block{
    width: 30%;
    border-radius: 25px;
    padding: 17px 33px;
    background: #7f1599;
    right: -0px;
}

.void .blocksa .block h1 {
    font-size: 30px;
    width: 500;
    text-align: center;
}
.void .blocksa .block p {
    font-size: 20px;
    margin: 20px 0;
}

.video .text h3 {
    font-size: 45px;
    width: 700;
    text-align: center;
}

.video button {
    cursor: pointer;
    border: 0;
    padding: 20px 47px;
    position: relative;
    border-radius: 10px;
    background: #B000DC;
    margin: 80px 45%;
}

/*contact*/

.contact h1{
    font-size: 33px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
}

.contact p {
    text-align: center;
}

.contact img {
    margin: 80px 30%;
}

.contact .img img {
    margin: 80px 10%;
}

.videou {
    background: #1C140F;
    padding: 50px 0;
    border-radius: 25px;
}

.videou h3 {
    text-align: center;
    font-size: 34px;
    padding: 23px 15px;
}

.videou button {
    cursor: pointer;
    border: 0;
    padding: 20px 47px;
    position: relative;
    border-radius: 10px;
    background: #B000DC;
    margin: 80px 45%;
}

/*footer*/

footer {
    background: #000;
    padding: 50px 0;
}

footer .block {
    display: flex;
    justify-content: space-between;
}

footer .blocks p {
    width: 300px;
    margin: 15px 0;
}

footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;
}
footer .blocks ul {
    list-style: none;
}
footer .blocks ul li {
    margin-top: 7px;
    opacity: 0.8;
}

footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #4b4a4a;
}

footer > p {
    text-align: center;
}
